<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/site/assets/css/style.css?v=5c456c0014f1c7aa92b1b4c3f264556aca019722">
    <!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

    <!-- Setup theme-color -->
    <!-- start theme color meta headers -->
    <meta name="theme-color" content="#151515">
    <meta name="msapplication-navbutton-color" content="#151515">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">About</a>
      </nav>
    </header>

    <main class="content-wrapper">
      <article>
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date: "%B %-d, %Y" }}</p>
        {{ content }}
      </article>
    </main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer>
  </body>
</html>
